<!DOCTYPE html>
<html>

<div class="information">
<h1> About Us</h1>

<p>
    

      <%= @about_me %>
      <hr>

</p>
</div>


<div class="infoabout">
<div class="row">
<div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
         <br/>
        <h2 class="fw-normal">Profile</h2>
        <p>All Users will create a profile, this will allow for the them to add what ever movies they want to there list.</p>
        
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Set Up</h2>
        <p>All Users will have a selected Id, this means other users cant log into there accounts or add movies to there list</p>
        
      </div>

      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Experience</h2>
        <p>One of the goals for Cinema and Movie people is that we all love the experience, Here we areuploading movies to show how much we love them and what ones stick out to us all </p>
        
       </div>
      </div>

</html>

      

 