<!DOCTYPE html>
<html>



<body>
<div class="center">
<h1>Welcome to the The MovieBlog </h1>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-8">
    <hr>
    <h1>Movies</h1>
    <p> We allow for our users to create a form to post up movies they would like to see on there list.
    every user will have there own list and ID to post whatever movies or shows they wish to choose </p>



  

  
    
     </div>

     <div class="col-md-4">
     <hr>
     <h1>Imdb Tweets</h1>
     <p> All the tweets that posted by IMDB will be updated and placed below 
     </div>



</body>
</html>